header {
    padding: 15px 15px 0 15px;

    a {
        color: $brand_primary;
    }

    #header-top {
        display: flex;
        justify-content: space-between;

        .logo {
            margin-bottom: 15px;

            a {
                display: flex;
                align-items: center;

                img {
                    max-height: 25px;
                }

                h2 {
                    margin: 0 5px;
                    font-size: 18px;
                }
            }
        }
    }

    nav {
        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-right: 20px;

                a {
                    padding: 10px 0;
                    font-weight: 600;

                    &:hover,
                    &.current {
                        color: $brand_secondary;
                        border-bottom: 3px solid $brand_secondary;
                    }
                }
            }
        }
    }
}
