main {
    .container {
        padding-top: $spacing*2;

        .q-and-a {
            margin-bottom: $spacing;

            h2 {
                color: #3c4043;
            }

            p {
                line-height: $spacing/4;
            }

            a {
                color: $brand_secondary;
            }
        }
    }
}
