main {
    .container {
        max-width: 900px;
        padding-top: $spacing;

        .q-and-a {
            margin-bottom: $spacing;

            p {
                line-height: $spacing/4;
            }

            a {
                color: $brand_secondary;
            }
        }
    }

}
